*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
local.properties
*.keystore
/dist

# jadx/dexkit decompile artifacts
/.dex/
/.jadx-c4/
/.jadx-out/
